<main>
	<%- partial('partial/navigation') %>
	<div id="contents">
		<ul class="postList">
			<% page.posts.forEach(function(item) { %>
			<li>
				<article class="entry">
				<a href="<%- url_for(item.path) %>"><%- item.title %></a>
				<div class="date"><%- item.date.format('MMM DD, YYYY') %></div>
				</article>
			</li>
			<% }) %>
		</ul>
	</div>
</main>
