<!doctype html>
<html lang='<%= config.language %>'>
	<%- partial('partial/head') %>
	<body>
		<div id='pageContainer'>
			<div class='wrapper'>
				<%- partial('partial/header') %>
				<%- body %>
			</div>
		</div>
	</body>
	<script src="/js/navigation.js"></script>
	<script src="/js/anchor.js"></script>
	<% if(is_post() || is_page()) %>
		<script src="/js/copyCode.js"></script>
</html>
