<header id="header">
	<div class="titleWrapper">
		<h1 class="title">
			<% if(is_home()) { %>
				<%= config.title %>
			<% } else { %>
				<%= page.title %>
			<% } %>
		</h1>
		<% if(is_post() || is_page()) { %>
		<div class="date"><%- page.date.format('MMM DD, YYYY') %></div>
		<% } %>
	</div>
	<div class="separator"></div>
	<button id="navigationToggle" aria-label="Activate this to toggle navigation. 激活此按钮以切换站点导航。"></button>
</header>
