<header id="header">
	<div class="titleWrapper">
		<h1 class="title">Subway Prototype</h1>
	</div>
	<div class="separator"></div>
	<button id="navigationToggle" aria-label="Activate this to toggle navigation. 激活此按钮以切换站点导航。"></button>
</header>
