<nav id="navigation">
	<ul id="siteLinks">
		<% theme.links.forEach(item => { %>
		<li class="prepared"><a href="<%- item.href %>"<% if(item.external) { %> target="_blank"<% } %>><%- item.name %></a></li>
		<% }) %>
	</ul>
	<ul id="notes">
		<% theme.notes.forEach(item => { %>
		<li class="prepared"><a <% if(item.href) { %>href="<%- item.href %>"<% } %><% if(item.external) { %> target="_blank"<% } %>><%- item.content %></a><% if(item !== theme.notes[theme.notes.length - 1]) { %> | <% } _%></li>
		<% }) %>
	</ul>
</nav>
