<nav id="navigation">
	<ul id="siteLinks">
		<li class="prepared"><a href="/">Home</a></li>
		<li class="prepared"><a href="/">Tags</a></li>
		<li class="prepared"><a href="/">About</a></li>
	</ul>
</nav>
