* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

@keyframes fadein {
	from, 17% {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

:root {
	--bgColor: #fff;
	--fgColor: #000;
	--bgSecondary: lightgrey;
	--fgSecondary: #555;
	--selectBgColor: black;
	--selectFgColor: #f0f0f0;
	--easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
	--pagePadding: 80px;
	--pageWidth: min(870px, 87%);
	font-size: 18px;
	background-color: #1e1e1e;
	font-family: Roboto, 'Noto Sans SC', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	overflow-y: scroll;
	scrollbar-color: var(--fgSecondary) var(--bgColor);
}

::selection {
	background-color: var(--selectBgColor);
	color: var(--selectFgColor);
}

.outlined {
	border: 3px solid var(--fgColor);
}

.transparent { opacity: 0; }

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
}

button, .button {
	letter-spacing: 0.08em;
	font-weight: 700;
	padding: 0.7em;
	background-color: var(--bgColor);
	color: var(--fgColor);
	border: none;
}

.button { display: inline-block; }

button:hover, .button:hover {
	background-color: #dfdfdf;
}

button:active, .button:active {
	background-color: var(--fgColor);
	color: var(--bgColor);
}

#navigationEnter, #navigationQuit {
	width: 60px;
	height: 60px;
	overflow: clip;
	align-self: center;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#navigationEnter .bar,#navigationQuit .bar {
	height: 3px;
	width: 70%;
	transform-origin: center center;
}

#navigationEnter .bar {
	background-color: var(--fgColor);
}

#navigationEnter:active .bar {
	background-color: var(--bgColor);
}

#navigationEnter .bar:nth-child(1) {
	margin-bottom: 5px;
}

#navigationEnter .bar:nth-child(3) {
	margin-top: 5px;
}

#navigationQuit { background-color: #1e1e1e; }
#navigationQuit:hover {
	background-color: #333;
}
#navigationQuit:active {
	background-color: #ddd;
}

#navigationQuit .bar {
	background-color: #ddd;
}

#navigationQuit:active .bar {
	background-color: #1e1e1e;
}

#navigationQuit .bar:nth-child(1) {
	margin-bottom: 5px;
	transform: translateY(6.5px) rotateZ(45deg) ;
}

#navigationQuit .bar:nth-child(2) {
	margin-top: 5px;
	transform: translateY(-6.5px) rotateZ(-45deg) ;
}

a:not(a.button) { color: var(--fgColor); }
a:hover:not(a.button) { color: var(--fgSecondary); }
a:active:not(a.button) { color: #888; }

aside#drawer {
	color: #ddd;
	background-color: #1e1e1e;
	border-left: 2px solid #ddd;
	width: 500px;
	height: 100%;
	position: fixed;
	left: 100%;
	z-index: 1;
	transition: opacity .1s linear, left 1s var(--easeOutExpo);
	padding: 80px 40px;
}

aside#drawer.activated {
	left: calc(100% - 500px);
}

header#drawerHeader,nav#navigation {
	transition-property: translate,opacity;
	transition-duration: 1s;
	transition-timing-function: var(--easeOutExpo);
}

header#drawerHeader.prepared,nav#navigation.prepared {
	translate: 36px;
	opacity: 0;
}

nav#navigation ul#siteLinks,ul#notes {
	list-style-type: none;
	padding: 0;
	height: auto;
}

nav#navigation li {
	font-size: 48px;
	font-weight: 100;
	margin-bottom: 0.27em;
}

nav#navigation ul#notes li {
	display: inline-block;
	font-size: 28px;
	margin-bottom: 0;
}

nav#navigation a {
	color: #ddd;
	text-decoration: none;
}
nav#navigation a:hover { color: #ccc; }
nav#navigation a:active { color: #aaa; }

#body {
	padding-bottom: 2.5em;
}

div#wrapper {
	width: var(--pageWidth);
	flex-shrink: 0;
	padding: 60px 0;
	animation: .3s linear fadein;
	transition: opacity .1s linear;
}

div.titleWrapper {
	display: flex;
	flex-direction: column;
}

#container {
	background-color: var(--bgColor);
	color: var(--fgColor);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: scale 1s var(--easeOutExpo);
}

header {
	display: flex;
	height: min-content;
	padding-bottom: 60px;
	transition: opacity .1s linear;
}

div.separator {
	flex-grow: 1;
}

h1.title {
	font-size: 48px;
	font-weight: 100;
}

.date {
	font-size: 22px;
	font-weight: initial;
	color: grey;
}

@media print {
	button, .button, nav {
		display: none;
	}

	article a::after {
		content: '(' attr(href) ')';
		color: var(--fgSecondary);
	}

	article img {
		break-inside: avoid;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	aside#drawer, #container{
		animation: none !important;
		transition: none !important;
	}
}

@media screen and (max-width: 500px) {
	.pressed { scale: 0.96; }

	header {
		flex-direction: column-reverse !important;
	}

	header .separator {
		display: none !important;
	}

	#navigationEnter,#navigationQuit {
		align-self: end !important;
	}

	aside#drawer {
		border: none !important;
		width: 100% !important;
	}
	aside#drawer.activated {
		left: 0 !important;
	}
}
