@media screen and (prefers-color-scheme: dark) {
	:root {
		--bgColor: #1e1e1e;
		--fgColor: #ddd;
		--bgSecondary: #555;
		--fgSecondary: #ccc;
		--selectBgColor: #ddd;
		--selectFgColor: #1e1e1e;
	}

	button:hover {
		background-color: #333;
	}

	button:active {
		background-color: var(--fgColor);
		color: var(--bgColor);
	}

	a:active {
		color: #aaa;
	}
}
