a {
	text-decoration: none;
}

.entry {
	font-size: 48px;
	font-weight: 100;
	margin-bottom: 1em;
}

.postList {
	list-style-type: none;
	padding-left: 0;
}

#paginator {
	display: flex;
	flex-direction: row;
	align-items: center;
}
