a { text-decoration: none; }

ul.postList li {
	margin-bottom: 2.2em;
}

ul.postList li:last-child {
	margin-bottom: 1em;
}

article.entry a {
	font-size: 48px;
	font-weight: 100;
}

.postList {
	list-style-type: none;
	padding-left: 0;
}

#paginator-indicator {
	padding: 0.7em;
}

#paginator-controls {
	display: flex;
	flex-direction: row;
	align-items: center;
}